In [2]:
import pandas as pd # For dataframes 
import numpy as np # For numpy arrays

#### Creating a DataFrame from a dictionary of lists

In [15]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Mario", "John", "Mary", "Zayd", "Sara", "Ahmed", "Farah"],
    "sex": ["M", "M", "F", "M", "F", "M", "F"],
    "Languages": ["Python, C++, Ruby, C", 
                "Java, JavaScript, Julia, C", 
                "C++, JavaScript, C, R", 
                "Python, JavaScript, C++, C",
                "Python, R, Julia, SQL",
                "Java, JavaScript, Julia, R",
                "JavaScript, C++, Julia, C"]
}, index=[i for i in range(0, 7)])

df.head() # To see the first 5 rows of the dataframe

    name sex                   Languages
0  Mario   M        Python, C++, Ruby, C
1   John   M  Java, JavaScript, Julia, C
2   Mary   F       C++, JavaScript, C, R
3   Zayd   M  Python, JavaScript, C++, C
4   Sara   F       Python, R, Julia, SQL

#### Dealing with multivalue columns

In [16]:
df['Languages'] = df['Languages'].str.split(',') # Split the Languages column into a list of values
df.head() # To see the first 5 rows of the dataframe

    name sex                        Languages
0  Mario   M        [Python,  C++,  Ruby,  C]
1   John   M  [Java,  JavaScript,  Julia,  C]
2   Mary   F       [C++,  JavaScript,  C,  R]
3   Zayd   M  [Python,  JavaScript,  C++,  C]
4   Sara   F       [Python,  R,  Julia,  SQL]

In [17]:
# Create a new dataframe with the exploded values 
df_exploded = df.explode(column = "Languages")  
df_exploded.head()

    name sex Languages
0  Mario   M    Python
0  Mario   M       C++
0  Mario   M      Ruby
0  Mario   M         C
1   John   M      Java

In [19]:
# Or use another alternative way to handle with another philosophy 
pd.concat([df[["name", "sex"]], pd.DataFrame(df['Languages'].values.tolist(), 
                                             columns=["Lang_" + str(i) for i in range(1, 5)])], 
          axis=1)

    name sex      Lang_1       Lang_2  Lang_3 Lang_4
0  Mario   M      Python          C++    Ruby      C
1   John   M        Java   JavaScript   Julia      C
2   Mary   F         C++   JavaScript       C      R
3   Zayd   M      Python   JavaScript     C++      C
4   Sara   F      Python            R   Julia    SQL
5  Ahmed   M        Java   JavaScript   Julia      R
6  Farah   F  JavaScript          C++   Julia      C