In [2]:
import pandas as pd # For dataframes 
import numpy as np # For numpy arrays

#### Creating a DataFrame from a dictionary of lists

In [9]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Mario", "John", "Mary", "Zayd", "Sara", "Ahmed", "Farah"],
    "sex": ["M", "M", "F", "M", "F", "M", "F"],
    "Languages": ["Python, C++, Ruby, C", 
                "Java, JavaScript, Julia, C", 
                "C++, JavaScript, C, R", 
                "Python, JavaScript, C++, C",
                "Python, R, Julia, SQL",
                "Java, JavaScript, Julia, R",
                "JavaScript, C++, Julia, C"]
}, index=[i for i in range(0, 7)])

df.head() # To see the first 5 rows of the dataframe

    name sex                   Languages
0  Mario   M        Python, C++, Ruby, C
1   John   M  Java, JavaScript, Julia, C
2   Mary   F       C++, JavaScript, C, R
3   Zayd   M  Python, JavaScript, C++, C
4   Sara   F       Python, R, Julia, SQL

#### Dealing with multivalue columns

In [10]:
df['Languages'] = df['Languages'].str.split(',') # Split the Languages column into a list of values
df.head() # To see the first 5 rows of the dataframe

    name sex                        Languages
0  Mario   M        [Python,  C++,  Ruby,  C]
1   John   M  [Java,  JavaScript,  Julia,  C]
2   Mary   F       [C++,  JavaScript,  C,  R]
3   Zayd   M  [Python,  JavaScript,  C++,  C]
4   Sara   F       [Python,  R,  Julia,  SQL]